streamlit
numpy
chromadb
transformers
groq
langchain
langchain-groq
langchain-community
pymupdf
python-docx
gtts
python-pptx
chardet
langdetect
torch
torchaudio
sentence-transformers
huggingface_hub
chromadb[server]
uvicorn
fastapi

