# Core
streamlit
numpy
transformers
torch
torchaudio
sentence-transformers
huggingface_hub

# AI Models
groq
langchain
langchain-groq
langchain-community

# Document processing
pymupdf
python-docx
python-pptx
chardet
langdetect
gtts

# FAISS
faiss-cpu
